[submodule "nvd3"]
	path = nvd3
	url = https://github.com/ConstantinoSchillebeeckx/nvd3.git
	branch = new_plots
[submodule "PapaParse"]
	path = PapaParse
	url = https://github.com/mholt/PapaParse.git
